CONFIG_PM9G45=y
CONFIG_NANDFLASH=y
CONFIG_DEBUG=y
CONFIG_THUMB=y
CONFIG_SCLK=y
CONFIG_ONFI_DETECT_SUPPORT=n
CONFIG_ON_DIE_ECC=y
CONFIG_USE_ON_DIE_ECC_SUPPORT=y
CONFIG_USE_PMECC=n
CONFIG_NANDFLASH_RECOVERY=n
CONFIG_IMG_ADDRESS="0x000200000"
CONFIG_IMG_SIZE="0x000800000"
CONFIG_LOAD_LINUX=y
CONFIG_RAM_64MB=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_LINUX_KERNEL_ARG_STRING="console=ttyS0,115200 mtdparts=atmel_nand:10M(bootstrap/kernel),60M(rootfs),-(spare) root=ubi0:rootfs rw rootfstype=ubifs ubi.mtd=1,2048"
