CONFIG_PM9G45=y
CONFIG_NANDFLASH=y
CONFIG_DEBUG=y
CONFIG_THUMB=y
CONFIG_SCLK=y
CONFIG_ONFI_DETECT_SUPPORT=n
CONFIG_ON_DIE_ECC=y
CONFIG_USE_ON_DIE_ECC_SUPPORT=y
CONFIG_USE_PMECC=n
CONFIG_NANDFLASH_RECOVERY=n
CONFIG_IMG_ADDRESS="0x00020000"
CONFIG_IMG_SIZE="0x00080000"
